@* @model MedicineServiceModel

<div class="col-md-2">
    <div class="card">
        <div class="d-flex justify-content-center">
            <img class="card-img-top w-50 h-auto" src="@Model.ImageUrl" alt="Medicine Image">
        </div>
        <div class="card-body text-center">
            <h4 class="text-black">@Model.Name</h4>
            <h6 class="text-black"> Price: <b>@String.Format("{0:f2}", Model.Price) BGN</b></h6>
            <form asp-controller="Sale" asp-action="AttachMedicine" method="post">
                <input class="text-light bg-info p-1" style="border-radius: 0.5em" type="submit" value="Apply to sale" asp-route-saleId="@saleId" asp-route-medicineId="@Model.Id" />
            </form>
        </div>
    </div>
</div> *@