@model MedicineServiceModel

<div class="col-md-2">
    <div class="card">
        <div class="d-flex justify-content-center">
            <img class="card-img-top w-50 h-auto" src="@Model.ImageUrl" alt="Medicine Image">
        </div>
        <div class="card-body text-center">
            <h4 class="text-black">@Model.Name</h4>
            <h6 class="text-black">Category: <b>@Model.Category</b></h6>
            <h6 class="text-black"> Price: <b>@String.Format("{0:f2}", Model.Price) BGN</b></h6>
            <h6 class="text-black">RequiresPrescription: <b>@(Model.RequiresPrescription ? "Yes" : "No")</b></h6>
            <br />
            <a asp-controller="Medicine" asp-action="Details" asp-route-id="@Model.Id" class="btn btn-success">Details</a>
            @if (User?.IsInRole("Admin") ?? false)
            {
                <a asp-controller="Medicine" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">Edit</a>
                <a asp-controller="Medicine" asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-danger">Delete</a>
            }
            @if (User?.IsInRole("Patient") ?? false)
            {
                @* <a asp-controller="Order" asp-action="AddToCard" asp-route-id="@Model.Id" class="btn btn-success">Add to cart</a> *@
            }
        </div>
    </div>
</div>