@model AllSalesQueryModel

@{
    ViewData["Title"] = "All sales";
}
<h1>@ViewData["Title"]</h1>
<a asp-controller="Sale" asp-action="Add"><b>Create New</b></a>

<h4 class="text-light">Total Sales count: @Model.TotalSales</h4>
<article class="d-flex gap-lg-3 flex-wrap">
    @foreach (var sale in Model.Sales)
    {
        if (!sale.IsEnded)
        {
            <div class="bg-light p-lg-3" style="border-radius: 0.5em">
                <h6 class="text-dark">Discount: @($"{sale.Discount:f0}%")</h6>
                <p class="text-black">Start date: @sale.StartDate.ToString(DateFormat)</p>
                <p class="text-black">End date @sale.EndDate.ToString(DateFormat)</p>
                <a asp-controller="Sale" asp-action="Edit" class="text-black bg-warning p-1" style="border-radius: 0.5em">Edit</a>
                <a asp-controller="Sale" asp-action="Delete" class="text-black bg-danger p-1" style="border-radius: 0.5em">Delete</a>
                <a asp-controller="Sale" asp-action="AttachMedicine" asp-route-saleId="@sale.Id" class="text-black bg-success p-1" style="border-radius: 0.5em">Attach medicines</a>
            </div>
        }
    }
</article>