@using PharMedTOGO.Core.Contracts

@model AllCartsQueryModel
@inject ISaleService saleService
@{
    string currency = "BGN";
}

<div id="ltn__utilize-cart-menu" class="ltn__utilize ltn__utilize-cart-menu">
    <div class="ltn__utilize-menu-inner ltn__scrollbar">
        <div class="ltn__utilize-menu-head">
            <span class="ltn__utilize-menu-title">Cart</span>
            <button class="ltn__utilize-close">×</button>
        </div>
        <div class="mini-cart-product-area ltn__scrollbar">
            @foreach (var medicine in Model.Medicines)
            {
                <div class="mini-cart-item clearfix">
                    <div class="mini-cart-img">
                        <img class="medicineImg" src="@medicine.ImageUrl" alt="Medicine image"/>
                        <span class="mini-cart-item-delete"><i class="icon-cancel"></i></span>
                    </div>
                    <div class="mini-cart-info">
                        <h6><a href="#">@medicine.Name</a></h6>
                        <span class="mini-cart-quantity">@medicine.Price @currency</span>
                    </div>
                </div>
            }
        </div>
        <div class="mini-cart-footer">
            <div class="mini-cart-sub-total">
                <h5>Subtotal: <span>@Model.TotalMedicinesSum</span></h5>
            </div>
            <div class="btn-wrapper">
                <a asp-controller="Cart" asp-action="ShoppingCart" class="theme-btn-1 btn btn-effect-1">View Cart</a>
            </div>
            <p>Free Shipping on All Orders Over $100!</p>
        </div>

    </div>
</div>