@using PharMedTOGO.Core.Contracts
@model AllCartsQueryModel
@inject ISaleService saleService

@{
    string currency = "BGN";
}

<div class="body-wrapper mb-xxl-5">
    @await Component.InvokeAsync(nameof(MobileMenuComponent))
    @await Component.InvokeAsync(nameof(CartMenuComponent), Model)

    <!-- BREADCRUMB AREA START -->
    <div class="ltn__breadcrumb-area text-left bg-overlay-white-30 bg-image"
         data-bs-bg="https://img.freepik.com/free-photo/colorful-pills-with-white-container_23-2148506763.jpg"
         style="background-image: url(https://img.freepik.com/free-photo/colorful-pills-with-white-container_23-2148506763.jpg)">
    </div>
    

    <div class="liton__shoping-cart-area mb-120">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="shoping-cart-inner">
                        <div class="shoping-cart-table table-responsive">
                            <table class="table">
                                <tbody>
                                    @foreach (var item in Model.Medicines)
                                    {
                                        <tr>
                                            <td class="cart-product-remove">
                                                <form asp-area="" asp-controller="Cart" asp-action="Remove" asp-route-id="@item.Id" method="post">
                                                    <button class="btn btn-danger button">Remove</button>
                                                </form>
                                            </td>
                                            <td class="cart-product-image">
                                                <a href="product-details.html"><img src="@item.ImageUrl" alt="#"></a>
                                            </td>
                                            <td class="cart-product-info">
                                                <h4><a href="product-details.html">@item.Name</a></h4>
                                            </td>
                                            <td>
                                                @if (item.SaleId != null)
                                                {
                                                    <div class="d-flex gap-2">
                                                        @{
                                                            item.Sale = await saleService.MapByIdSale(item.SaleId.Value);
                                                        }
                                                        <p class="text-black">Discount: @($"{item.Sale.Discount:f0}%")</p>
                                                        <div style="width: 40px; height: 40px;">
                                                            <img src="~/fontawesome-free-6.4.0-web/svgs/solid/tag.svg" alt="Sale icon" />
                                                        </div>
                                                    </div>
                                                }
                                            </td>
                                            <td class="cart-product-price"><b>@item.Price @currency</b></td>
                                            @* <td class="cart-product-quantity">
                                        <div class="cart-plus-minus">
                                        <input type="text" value="02" name="qtybutton" class="cart-plus-minus-box"/>
                                        </div>
                                        </td>
                                        <td class="cart-product-subtotal">$298.00</td> *@
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                        <div class="shoping-cart-total mt-50 d-flex gap-3 flex-column">
                            <h4>Cart Totals</h4>
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <td>Cart Subtotal</td>
                                        <td>@Model.TotalMedicinesSum @currency</td>
                                    </tr>
                                    <tr>
                                        <td>Shipping and Handing</td>
                                        <td>@Model.DeliveryPrice @currency</td>
                                    </tr>
                                    <tr>
                                        <td><strong>Order Total</strong></td>
                                        <td><strong>@Model.Total</strong></td>
                                    </tr>
                                </tbody>
                            </table>
                            <form class="cart-footer" asp-area="" asp-controller="Stripe" asp-action="CreateCheckoutSession" method="post">
                                <input hidden asp-for="TotalMedicinesSum" />
                                <input hidden asp-for="DeliveryPrice" />
                                <input hidden asp-for="Total" />
                                <input hidden asp-for="Medicines" />
                                <div class="btn-wrapper text-right mt-1">
                                    <button type="submit" class="theme-btn-1 btn btn-effect-1">
                                        <p class="text-center text-black">Checkout</p>
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@* <div class="container d-flex flex-row-reverse gap-lg-5 justify-content-center">
    <div class="deliveryInfo">
    </div>
    <div class="cart">
        <div class="d-flex gap-3">
            <h2 class="text-center text-black">My Cart</h2>
            <div style="width: 40px; height: 40px;">
                <img src="~/fontawesome-free-6.4.0-web/svgs/solid/cart-shopping.svg" alt="Alternate Text" />
            </div>
        </div>

        @if (!Model.Medicines.Any())
        {
            <h1 class="cartMessage">Your shopping cart is empty!</h1>
        }
        else
        {
            @foreach (var medicine in Model.Medicines)
            {
                <div class="cart-item">
                    <div>
                        <img class="medicineImg" src="@medicine.ImageUrl" alt="Medicine image">
                    </div>
                    <div class="details">
                        <h4>@medicine.Name</h4>
                        <p class="text-black">Requires prescription: @medicine.RequiresPrescription</p>
                        <p class="text-black">Category: @medicine.Category</p>
                        @if (medicine.SaleId != null)
                        {
                            <div class="d-flex gap-2">
                                @{
                                    medicine.Sale = await saleService.MapByIdSale(medicine.SaleId.Value);
                                }
                                <p class="text-black">Discount: @($"{medicine.Sale.Discount:f0}%")</p>
                                <div style="width: 40px; height: 40px;">
                                    <img src="~/fontawesome-free-6.4.0-web/svgs/solid/tag.svg" alt="Sale icon" />
                                </div>
                            </div>
                        }
                        <p>Price: @medicine.Price BGN</p>
                        <form asp-area="" asp-controller="Cart" asp-action="Remove" asp-route-id="@medicine.Id" method="post">
                            <button class="btn btn-danger button">Remove</button>
                        </form>
                    </div>
                </div>
            }
            <h3 class="cartMessage">If the order is over 30BGN the delivery is free</h3>
            <form class="cart-footer" asp-area="" asp-controller="Stripe" asp-action="CreateCheckoutSession" method="post">
                <input hidden asp-for="TotalMedicinesSum" />
                <input hidden asp-for="DeliveryPrice" />
                <input hidden asp-for="Total" />
                <input hidden asp-for="Medicines" />
                <button type="submit" onmouseover="highlight()" onmouseout="highout()" class="buton">
                    <p class="text-center mt-2">Checkout</p>
                </button>
                <h4 class="pay">Total + Delivery: @Model.Total BGN</h4>
            </form>
        }
    </div>
</div>
 *@