@model AllMedicinesQueryModel

<form method="get">
    <div class="d-flex flex-row gap-lg-3">
        <div class="form-group col-md-3">
            <label asp-for="SearchTerm"></label>
            <input asp-for="SearchTerm" class="form-control" placeholder="...">
        </div>
        <div class="form-group col-md-3">
            <div class="form-group">
                <label asp-for="Sorting"></label>
                <select asp-for="Sorting" class="form-control">
                    <option value="0">Newest</option>
                    <option value="1">Lowest price first</option>
                    <option value="2">General</option>
                    <option value="3">Cosmetics</option>
                    <option value="4">Food Additives</option>
                    <option value="5">Homeophatic</option>
                    <option value="6">Antibiotics</option>
                </select>
            </div>
        </div>
        <div class="form-group align-content-end">
            <input type="submit" value="Search" class="btn btn-primary" />
        </div>
    </div>
</form>
@{
    var previousPage = Model.CurrentPage - 1; 
    if (previousPage < 1)
    { 
        previousPage = 1; 
    }
    var maxPage = Math.Ceiling((double)Model.MedicinesCount / Model.MedicinesPerPage);
}
<div class="mb-4 mt-4 d-flex justify-content-between">
    <div class="">
        <a class="btn btn-primary @(Model.CurrentPage == 1 ? "disabled" : string.Empty)"
           asp-controller="Medicine"
           asp-action="All"
           asp-route-currentPage="@previousPage"
           asp-route-searchTerm="@Model.SearchTerm"
           asp-route-sorting="@((int)Model.Sorting)">
            <<
        </a>
    </div>

    @{
        var shouldButtonBeDisabled = Model.CurrentPage == maxPage || !Model.Medicines.Any();
    }
    <div class="">
        <a class="btn btn-primary @(shouldButtonBeDisabled ? "disabled" : string.Empty)"
           asp-controller="Medicine"
           asp-action="All"
           asp-route-currentPage="@(Model.CurrentPage + 1)"
           asp-route-searchTerm="@Model.SearchTerm"
           asp-route-sorting="@((int)Model.Sorting)">
            >>
        </a>
    </div>
</div>
@if (!Model.Medicines.Any())
{
    <h2 class="text-center">No medicines found by the given criteria!</h2>
}
<div class="d-flex gap-2 m-3 flex-wrap">
    @foreach (var medicine in Model.Medicines)
    {
        <partial name="_MedicinePartial" model="@medicine" />
    }
</div>